#!/bin/bash
set -e

DOTFILES_DIR="{{ .chezmoi.sourceDir }}"

# Execute ansible setup playbook
cd $DOTFILES_DIR/../ansible
echo "Executing ansible setup playbook..."
echo "You have to insert your sudo password"
ansible-playbook setup-playbook.yaml --ask-become-pass
