#!/bin/bash
set -e

# Install ansible
echo "Installing ansible..."
python3 -m pip install --upgrade pip --quiet
python3 -m pip install ansible --quiet

export PATH="$HOME/Library/Python/3.9/bin:$PATH"

DOTFILES_DIR="{{ .chezmoi.sourceDir }}"

# Execute ansible setup playbook
cd $DOTFILES_DIR/../ansible
echo "Executing ansible setup playbook..."
echo "You have to insert your sudo password"
ansible-playbook setup-playbook.yaml --ask-become-pass
